#sketchCanvas {
  border:1px solid lightgray;
  border-radius:10px;
  box-shadow:1px 1px 5px gray;
}

.save-image-btn{
  display: block;
  margin-top: 20px;
}

.random-image-btn{
  display: block;
  margin: 20px;
}
